<main>
    <section class="update-user-form">
        <h1 class="form-title">{{ title }}</h1>
        <form class="form" method="POST" action="?action=update&userId={{ user.User_id }}">
            <div class="form-input">
                <label>Nom</label>
                <input class="text-input" type="text" name="User_lastname" value="{{ user.User_lastname }}">
                <span class="error-msg">&nbsp;{{ errors.user_lastname }}</span>
            </div>
            <div class="form-input">
                <label>Prénom</label>
                <input class="text-input" type="text" name="User_firstname" value="{{ user.User_firstname }}">
                <span class="error-msg">&nbsp;{{ errors.user_firstname }}</span>
            </div>
            <div class="form-input">
                <label>Courriel</label>
                <input class="text-input" type="email" name="User_email" value="{{ user.User_email }}">
                <span class="error-msg">&nbsp;{{ errCourriel }} {{ errors.user_email }}</span>
            </div>
            <div class="form-input">
                <label>Profil</label>
                <select class="select-input" name="Role_id" id="role_id">
                    <option value="{{ constant('user::ROLE_ADMIN') }}" {{ user.Role_id == constant('user::ROLE_ADMIN') ? 'selected' : '' }}>Administrateur</option>
                    <option value="{{ constant('user::ROLE_MEMBER') }}" {{ user.Role_id == constant('user::ROLE_MEMBER') ? 'selected' : '' }}>Membre</option>
                </select>
                <span class="error-msg">&nbsp;{{ errors.role_id }}</span>
            </div>
            <div class="form-actions">
                <button class="btn"><a href="admin">Back</a></button>
                <input class="submit btn" type="submit" value="Update">
            </div>
        </form>
    </section>
</main>